/Server/nbproject/private/
/Client/nbproject/private/
/RMI/nbproject/private/
/Database/nbproject/private/
/Database/build/
/Database/dist/
/RMI/dist/
/RMI/build/
/Client/build/
/Client/dist/
/Server/build/
/Server/dist/